<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Kayıt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form>
    <ion-list>
      
    <ion-item lines="full">
      <ion-label position="floating">Ad</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Soyad</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Telefon</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">T.C.</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Öğrenci No.</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Sınıf</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Üniversite</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Doğum Tarihi</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Fakülte</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Bölüm</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
 
    <ion-item lines="full">
      <ion-label position="floating">Şifre</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

     
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Kayıt Ol</ion-button>
           <ion-row><ion-item></ion-item></ion-row>
        </ion-col>
      </ion-row>
   
    </ion-list>
  </form>
</ion-content>