<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Yaz Okulu Başvurusu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
    
      <ion-item>
        <ion-label>Choose your Customer</ion-label>
        <ion-select [(ngModel)]="fakulteler" formControlName="fakulteler">
          <ion-option *ngFor="let fakulteAd of fakulteler" [value]="fakukteAd">
            {{ fakulteler.fakulteAd }}
          </ion-option>
        </ion-select>
      </ion-item> 
      
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="block"
          type="submit" 
          >Başvur</ion-button>
           <ion-row><ion-item></ion-item></ion-row>
        </ion-col>
      </ion-row>
   
    </ion-list>
  </form>
</ion-content>
